*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    gap: 10px;
}
form .addbutton{
    background-color: rgb(34, 154, 34);
    color: white;
    border: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
}
.tasklist{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}
.tasklist div{
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: rgb(204, 204, 204);
    width: 240px;
    border-radius: 7px;
}